.background{
  background-image: url("imagens/bg_gray.jpg");
  background-repeat: repeat-y;
  padding-top: 2em;
  padding-bottom: 2em;
}

.textos{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-style: double;
  text-decoration: solid;
  color: #ffffff;
}

.textospt{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-style: double;
  text-decoration: solid;
  color: #000000;
}

.imagem{
    height: 5%;
}

.direita{
    float: right;
}

.centro{
  float:inline-end;
}

.esquerda{
    float: inline-start;
}

/* botao cep no formulario  */
#btnBuscCep{
  align-self: center;
}

/* CALENDARIO */
.tabela{
    color: #ffffff;
}

.procurar{
    border-width: 1px;
    border-style: solid;
    border-color:  rgb(243, 243, 245);
    padding: 1em;
}

ul{
  padding-bottom: 1em;
}

li{
  list-style: none;
}

.tab{
  background-color: #9a9797;
}

.caixabca{
  background-color: #ffffff;
}

.inline input{
  width: 60px;
}
