.background{
  background-image: url("imagens/bg_gray.jpg");
  background-repeat: repeat-y;
  padding-top: 2em;
  padding-bottom: 2em;
}

.textos{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-style: double;
  text-decoration: solid;
  color: #ffffff;
}

.textospt{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-style: double;
  text-decoration: solid;
  color: #000000;
}

.imagem{
    height: 5%;
}

.direita{
    float: right;
}

.centro{
  float:inline-end;
}

.esquerda{
    float: inline-start;
}

/* botao cep no formulario  */
#btnBuscCep{
  align-self: center;
}

/* CALENDARIO */
.tabela{
    color: #ffffff;
}

.procurar{
    border-width: 1px;
    border-style: solid;
    border-color:  rgb(243, 243, 245);
    padding: 1em;
}

ul{
  padding-bottom: 1em;
}

li{
  list-style: none;
}

.tab{
  background-color: #9a9797;
}

.caixabca{
  background-color: #ffffff;
}

.inline input{
  width: 60px;
}

/* ========== Menu Dropdown ==========   */
.dropbtn {
    background-color: #343a40;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #343a40;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(200, 199, 202, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(161, 162, 158);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #a9a5a5}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #343a40;
  }
  /* ===== ==========  ==========  ========== ===== */
